[Desktop Entry]
Name=HepOS
X-KDE-PluginInfo-Name=HepOS
X-KDE-PluginInfo-Author=Henry Wenger-Stickel
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=GPL v3
